/* XSLT Explorer CSS version 0.1.10.
 *
 * See https://xslt.xmlexplorer.com/
 *
 */

@import url("https://fonts.googleapis.com/css?family=B612+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif&display=swap");

:root {
    --border-grey: #afafaf;
    --border-note: #ffaf7f;
    --border-warn: #ff7f7f;
    --body-font: "Noto Serif", serif;
    --title-font: "Noto Sans", sans-serif;
    --mono-font: "B612 Mono", monospace;
    max-width: 70rem;
    background-color: #fffff8;
}

html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--body-font);
    line-height: 1.75rem;
    font-size: 13.5pt;
}

body {
    min-height: 100%;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 100%;
}

.logo {
    float: right;
}

footer {
    margin-top: 3rem;
    border-top: 2px solid var(--border-grey);
}

main > .stylesheet {
    margin-top: 3rem;
    border-top: 2px solid var(--border-grey);
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--title-font);
    font-weight: bold;
}

.toc {
}

.toc ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.toc ul ul {
    padding-left: 2rem;
}

.toc > ul {
    display: none;
    margin-bottom: 1em;
    padding-left: 2em;
}

.lot dl,
.lof dl {
    margin-top: 0;
    padding-left: 2rem;
    display: none;
}

a, a:visited {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid var(--border-grey);
}

.goto-lno {
    border-bottom: none;
}

.stylesheet {
    margin-bottom: 2rem;
}

.stylesheet .stylesheet {
    padding-left: 1rem;
    border-left: 2px solid var(--border-grey);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding-bottom: 0.5rem;
}

.props,
.body {
    padding-left: 2rem;
}

.title {
    padding-left: 1rem;
    font-weight: bold;
}

.marker {
    display: inline-block;
    width: 1.5rem;
    text-indent: 0;
}

.title .link {
    display: inline-block;
    width: 1rem;
}

.instructions > .body {
    padding-left: 0;
}

.instructions .title {
    padding-left: 0;
}

.instructions > .body > div {
    display: none;
    margin-top: 1em;
}

.instructions .instruction {
    border-left: 1px solid var(--border-grey);
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    margin-bottom: 1em;
}

.instructions .instruction.not-used {
    border-left: 1px solid var(--border-note);
}

.instructions .instruction.shadows {
    border-left: 2px solid var(--border-warn);
}

.instruction .title {
    padding-left: 1rem;
}

span.unused,
span.elsewhere,
span.shadows {
    border-bottom: 1px solid var(--border-warn);
}

/* ============================================================ */

/*
div.used-by {
    padding-left: 1.5rem;
    text-indent: -3rem;
}

div.used-in {
    padding-left: 1.5rem;
    text-indent: -3rem;
}

div.shadows {
    padding-left: 1.5rem;
    text-indent: -3rem;
}

.instruction.shadows {
    margin-left: inherit;
}
*/

/* ============================================================ */

.columns {
    column-count: 3;
}

/* ============================================================ */

.toc span,
.lot span,
.lof span,
.instructions .title,
.source-code .title,
.template.all,
.variable.all,
.function.all,
.param.all,
span.unused,
span.elsewhere,
span.shadowsd {
    cursor: pointer;
}

.closed::before {
    content: "⏵";
}

.open::before {
    content: "⏷";
}

.halfopen::before {
    content: "▿";
}

.source-code > .body {
    padding-left: 0;
}

.source-code > .body > div {
    padding-left: 0;
    display: none;
}

.source-code .title {
    padding-left: 0;
}

.source-code .lno {
    display: none;
}

.fake-prism {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    padding-top: 1em;
    margin-top: 0.5em;
    font-size: 1em;
    line-height: 1.5;
}

@media screen and (max-width: 800px) {
    .logo {
        max-width: 128px;
    }
}

@media screen and (max-width: 640px) {
    .columns {
        column-count: 2;
    }
}

@media screen and (max-width: 400px) {
    .columns {
        column-count: 1;
    }
    .logo {
        max-width: 64px;
    }
}
