/* EPUB can't import them from the web */

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/JetBrainsMono-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./fonts/JetBrainsMono-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/JetBrainsMono-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(./fonts/JetBrainsMono-BoldItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/NotoSans-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./fonts/NotoSans-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/NotoSans-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(./fonts/NotoSans-BoldItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/NotoSerif-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./fonts/NotoSerif-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/NotoSerif-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(./fonts/NotoSerif-BoldItalic.ttf) format('truetype');
}
:root {
    --symbol-fonts: "Arial Unicode", "Apple Symbols", "Symbol", "Symbola_hint";
    --body-family: "Noto Serif", serif, var(--symbol-fonts);
    --title-family: "Noto Sans", sans-serif, var(--symbol-fonts);
    --mono-family: "B612 Mono", monospace, var(--symbol-fonts);
}

/* This looks ugly in EPUB */
.revhistory {
    page-break-before: always;
    break-before: page;
    background-color: inherit;
    border-radius: inherit;
}

.revhistory header {
    page-break-inside: avoid;
    page-break-after: avoid;
    display: inherit;
}

nav ol.toc {
    list-style: none;
}

.toc .toc {
    margin-top: 0;
}

nav ol.toc a,
nav ol.toc a:visited {
    color: inherit;
}
