/* ============================================================ */
/* Inline annotations */

.annotations {
    border-top: 2px dashed #afafaf;
    padding-top: 1em;
    margin-top: 6em;
}

a.annomark,
a.annomark:visited {
    text-decoration: none;
    color: inherit;
}

.annotation-wrapper {
    margin-bottom: 1em;
}

.annotation-body {
    border: 1px solid black;
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;;
}

.annotation-header {
    height: 2em;
    background-color: #cfcfcf;
    padding-left: 1em;
    padding-right: 0.5em;
    border-bottom: 1px solid black;
}

.annotation-header .annotation-close {
    float: right;
}

.annotation-content {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

/* ============================================================ */
/* Javascript annotations */

.popup-annotation-wrapper {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(128, 128, 128, 0.85);
}

.popup-annotation-body {
    border: 1px solid black;
    width: 50%;
    background-color: white;
    min-height: 40%;
    max-height: 50%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.15em;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 100%;
}

.wide .popup-annotation-body {
    width: 80%;
}

.tall .popup-annotation-body {
    max-height: 80%;
}

.popup-annotation-header {
    height: 2em;
    background-color: #cfcfcf;
    padding-left: 1em;
    padding-right: 0.5em;
    border-bottom: 1px solid black;
}

.popup-annotation-header .annotation-close {
    float: right;
    cursor: pointer;
    font-size: 125%;
}

.popup-annotation-header .annotation-title {
    padding-top: 0.1em;
}

.popup-annotation-content {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    overflow: scroll;
}

.annotation-close {
    padding-top: 4px;
}
