/* ============================================================ */
/* Inline annotations */

.annotations {
    border-top: 2px dashed #afafaf;
    padding-top: 1em;
    margin-top: 6em;
}

a.annomark,
a.annomark:visited {
    text-decoration: none;
    color: inherit;
}

.annotation-wrapper {
    margin-bottom: 1em;
}

.annotation-body {
    border: 1px solid black;
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;;
}

.annotation-header {
    height: 2em;
    background-color: #cfcfcf;
    padding-left: 1em;
    padding-right: 0.5em;
    border-bottom: 1px solid black;
}

.annotation-header .annotation-close {
    float: right;
}

.annotation-content {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
