/* Paged media style for the guide */

/* AntennaHouse can't import them from the web. */

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/JetBrainsMono-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./fonts/JetBrainsMono-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/JetBrainsMono-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(./fonts/JetBrainsMono-BoldItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/NotoSans-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./fonts/NotoSans-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/NotoSans-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(./fonts/NotoSans-BoldItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/NotoSerif-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./fonts/NotoSerif-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/NotoSerif-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(./fonts/NotoSerif-BoldItalic.ttf) format('truetype');
}
:root {
    --symbol-fonts: "Arial Unicode", "Apple Symbols", "Symbol", "Symbola_hint";
    --body-family: "Noto Serif", serif, var(--symbol-fonts);
    --title-family: "Noto Sans", sans-serif, var(--symbol-fonts);
    --mono-family: "B612 Mono", monospace, var(--symbol-fonts);
}

@page title {
    size: A4;
    margin: 25mm;
    @top-center {
        content: "";
    }
    @bottom-right {
        content: "";
    }
    @bottom-left {
        content: "";
    }
}

@page main:right {
    size: A4;
    margin-top: 25mm;
    margin-bottom: 25mm;
    margin-left: 30mm;
    margin-right: 20mm;
    @top-center {
        content: "DocBook xslTNG Reference";
    }
    @bottom-right {
        content: counter(page)
    }
    @footnote {
        float: bottom page;
        border-top: thin solid black;
        border-length: 30%;
        padding-top: 0.5em;
    }
}

@page main:left {
    size: A4;
    margin-top: 25mm;
    margin-bottom: 25mm;
    margin-left: 20mm;
    margin-right: 30mm;
    @top-center {
        content: "DocBook xslTNG Reference";
    }
    @bottom-left {
        content: counter(page)
    }
    @footnote {
        float: bottom page;
        border-top: thin solid black;
        border-length: 30%;
        padding-top: 0.5em;
    }
}

:root {
    /* These work on A4 paper ... */
    --header-height: 240mm;
    --fill-margin: 40mm;
}

/* Don't force refentry elements onto an odd page */
.book .refentry  {
    break-before: page;
    page: normal-flow;
}

.index-list {
    column-count: 2;
}

h2 {
    string-set: none;
}

header img {
    text-align: center;
}

.book .cover,
.book .cover .image {
    width: 100%;
}

.book .cover .image {
    text-align: center;
}

.book .cover img {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.book > header {
    border: none;
    height: 240mm; /* var(--header-height); */
}

.book > header h1 {
    display: none;
}

.book > header .authorgroup {
    font-size: 16pt;
}

.book > header .authorgroup .label {
    display: none;
}

.book > header .fill {
    margin-top: 40mm; /* var(--fill-margin); */
    padding: 0;
}

.admonition header {
    margin-top: 1em;
}

.a-detail div div {
    padding: 0.25em;
}

pre.screen {
    page-break-before: avoid;
}

@page A4-book-refentry-flow {
    size: A4;
    @footnote {
        float: bottom page;
        border-top: thin solid black;
        border-length: 30%;
        padding-top: 0.5em;
    }
}

@page A4-book-refentry-flow:right {
    size: A4;
    margin-left: var(--margin-inner);
    margin-right: var(--margin-outer);

    @bottom-right {
        content: counter(page);
    }
}

@page A4-book-refentry-flow:left {
    size: A4;
    margin-left: var(--margin-outer);
    margin-right: var(--margin-inner);

    @bottom-left {
        content: counter(page);
    }
}

/* Don't force refentrys onto right hand pages */
html.book-style.A4 body .refentry {
    break-before: page;
    page: A4-book-refentry-flow;
}

