/* @@TITLE@@ version @@VERSION@@
 *
 * This is docbook-toc.css.
 *
 * See https://xsltng.docbook.org/
 *
 */

nav.tocopen {
    position: fixed;
    width: 1.5em;
    top: 6px;
    right: 0;
    color: inherit;
    z-index: 1;
    cursor: pointer;
    color: #fffff8;
    background-color: rgb(11, 0, 89);
    font-size: 14pt;
    display: none;
}

nav.toc {
    color: #fffffe;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    overflow-x: scroll;
    transition: 0.25s;
    background-color: rgb(114,105,155);
    padding: 0;
    margin: 0;
    font-size: 12pt;
    opacity: 1;
    padding-left: 0;
}

nav.toc header {
    height: 40px;
    font-family: "Noto Sans", sans-serif;
    font-size: 1.25em;
}

nav.toc header .close {
    float: right;
    cursor: pointer;
    font-weight: bold;
    font-size: 16pt;
}

nav.toc div {
    overflow: scroll;
    height: calc(100% - 40px);
}

nav.toc a,
nav.toc a:visited {
    color: inherit;
    text-decoration: none;
}

nav.toc .refpurpose {
    display: none;
}

nav.toc li {
    text-indent: -1em;
    padding-left: 1em;
}
