@import url("https://fonts.googleapis.com/css?family=B612+Mono&display=swap") screen;
@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap") screen;
@import url("https://fonts.googleapis.com/css?family=Noto+Serif&display=swap") screen;

:root {
    --tng-blue: rgb(11, 0, 89);
    --table-border-style: 1px solid black;
    --numbered-separator-style: 1px solid #dfdfdf;
    --numbered-number-color: #dfdfdf;
    --numbered-background-color: #f0f0f0;
    --verbatim-odd-background-color: #f4f4f4;
    --verbatim-even-background-color: inherit;
    --sidebar-background-color: #f0f0f0;
    --border-grey: #afafaf;
    --body-font: "Noto Serif", serif;
    --title-font: "Noto Sans", sans-serif;
    --mono-font: "B612 Mono", monospace;
    --revadded-before: "<ins>";
    --revadded-after: "</ins>";
    --revchanged-before: "<chg>";
    --revchanged-after: "</chg>";
    --revdeleted-before: "<del>";
    --revdeleted-after: "</del>";
    max-width: 50rem;
    background-color: #fffff8;
}

html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--body-font);
    line-height: 1.75rem;
    font-size: 13.5pt;
}

body {
    min-height: 100%;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}

main {
    margin-bottom: 2em;
}

header {
    margin-top: 1rem;
    display: table;
    width: 100%;
    line-height: 1.0;
}

header h1 {
    display: table-row;
}

header h1 span {
    display: table-cell;
    text-align: right;
    vertical-align: bottom;
}

h1 .text {
    text-align: left;
    vertical-align: bottom;
}

h1 .logo {
    text-align: right;
    margin-bottom: 0.5rem;
}

header h1 {
    margin-bottom: 0;
}

header h2 {
    margin-top: 3pt;
    font-style: italic;
}

.logo img {
    display: inline-block;
}

.logo {
    max-height: 64px;
    vertical-align: baseline;
}

h1 { font-weight: 800;
     font-size: 2.2rem;
     line-height: 1;
   }

h2 { font-weight: 600;
     font-size: 1.7rem;
     line-height: 1;
   }

h3 { font-weight: 600;
     font-size: 1.5rem;
     line-height: 1;
   }

h4 { font-weight: 600;
     font-size: 1.25rem;
     line-height: 1;
   }

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title-font);
    color: var(--tng-blue);
}

details p {
    margin-left: 2rem;
}

a, a:visited {
    color: inherit;
}

#hideresults {
    text-align: right;
}

.results,
.coverage {
    padding: 1em;
    margin-bottom: 1em;
}

.error {
    background-color: #ff0000;
    color: #ffff00;
}

.pass {
    background-color: #cfffcf;
}

tr.pass {
    background-color: inherit;
}

.fail {
    background-color: #ffcfcf;
}

.passfail {
    font-variant: small-caps;
}

.pending {
    background-color: #ffffcf;
}

table {
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: collapse;
}

td, th {
    padding: 0.25em;
}

th {
    font-family: var(--title-font);
    background-color: black;
    color: white;
    text-align: left;
    border: 1px solid black;
}

td {
    border: 1px solid #dfdfdf;
}
