/* guide.css */

html {
    font-size: 1.4rem;
}

.book > header .fill {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    min-height: 640px;
}

.book > header {
    display: table;
    padding: 0;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px solid #afafaf;
    border-radius: 0;
    text-align: right;
}

.book > header {
    padding-bottom: 1rem;
}

.book > header .cover {
    display: table-row;
}

.book > header .cover .image {
    display: table-cell;
    vertical-align: top;
}

.book > header .cover .text {
    display: table-cell;
    vertical-align: top;
}

.book > header h1 {
    text-align: right;
}

header img {
    border: 1px solid black;
    border-radius: 4px;
    margin-right: 1rem;
}

main {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
}

.footnotes {
    margin-left: 1rem;
}

.a-detail {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.a-detail div.prop {
    padding-right: 1rem;
}

/* ============================================================ */

nav.top {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    background-color: var(--tng-blue);
    color: #fffff8;
    text-align: center;
}

nav.top .nav {
    float: left;
    margin-left: 0.25rem;
    margin-left: 4rem;
}

nav.top .title {
    font-family: var(--title-family);
}

nav.top .logo {
    float: right;
    font-size: 18px;
    margin-right: 4rem;
    display: inline-block;
    padding-top: 6pt;
}

nav.bottom {
    background-color: var(--tng-blue);
    border-top-style: solid;
    border-top-width: 1px;
    color: white;
    display: grid;
    font-size: 1.0rem;
    margin-bottom: 0px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3rem;
    padding-bottom: 10px;
    padding-left: 4rem;
    padding-right: 4rem;
}

.navrow {
    display: grid;
    grid-template-columns: 33% 34% 33%;
}

.navleft {
    text-align: left;
    grid-column: 1;
}

.navmiddle {
    text-align: center;
    grid-column: 2;
}

.navright {
    text-align: right;
    grid-column: 3;
}

.navrow .navtitle {
    font-size: 18px;
}

nav .version {
    display: none;
}

nav a,
nav a:visited {
    color: #fffff8;
}

nav.pagetoc a,
nav.pagetoc a:visited {
    color: inherit;
}

html.js .pagebody .tocwrapper {
    font-size: 80%;
}

.infofooter {
    padding-top: 0.5rem;
    font-size: 14px;
}

.infofooter > .revision {
    float: right;
    display: none;
}

.infofooter > .copyrightfooter {
    float: left;
}

nav.bottom img {
    vertical-align: text-bottom;
}

span.githash {
  font-size: 90%; }

div.copyrightfooter {
  margin-top: 0px;
  padding-top: 5px;
  font-size: 14px;
}

.revhistory {
    background-color: var(--secondary-color);
    border-radius: 0.5em;
}

.revhistory code {
    background-color: inherit;
    border-color: var(--primary-variant-color);
}

.revhistory header {
    display: none;
}

.revhistory > ul {
    list-style: none;
    padding-left: 0;
}

.revnumber::before {
    content: "Version ";
}

.revhistory ul li div.revnumber {
    margin-left: 2rem;
}

.revhistory ul li div.revnumber {
    text-indent: -1rem;
}

.revhistory ul li div.revnumber::before {
    content: "• ";
}

.revhistory ul li div.revdescription {
    margin-left: 1rem;
}

@media screen and (max-width: 374px) {
    .book header h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 599px) {
    h1 {
        font-size: 2rem;
    }

    h2, h3, h4, h5 {
        font-size: 1.5rem;
    }

    nav.top .title {
        display: none;
    }
}

@media screen and (max-width: 1199px) {
    nav.top .nav {
        margin-left: 2rem;
    }

    nav.top .logo {
        margin-right: 2rem;
    }

    nav.bottom {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .book > header {
        font-size: 1rem;
        line-height: 1.25;
    }

    .book > header h1 {
        font-size: 2.5rem;
    }
        
    .cover img {
        max-height: 480px;
    }

    .book > header .fill {
        min-height: 480px;
    }
}

@media screen and (max-width: 767px) {
    nav.top .nav {
        margin-left: 1rem;
    }

    nav.top .logo {
        margin-right: 1rem;
    }

    nav.bottom {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .book > header {
        border: 2px solid #afafaf;
        padding: 1rem;
    }

    .book > header {
        text-align: left;
    }

    .book > header h1 {
        text-align: left;
    }

    .book > header .fill {
        min-height: inherit;
    }

    header img {
        display: none;
    }
}

