/* AntennaHouse can't import them from the web. */
@font-face {
  font-family: 'B612 Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/B612Mono-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'B612 Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./fonts/B612Mono-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'B612 Mono';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/B612Mono-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'B612 Mono';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(./fonts/B612Mono-BoldItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/NotoSans-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./fonts/NotoSans-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/NotoSans-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(./fonts/NotoSans-BoldItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/NotoSerif-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./fonts/NotoSerif-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/NotoSerif-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(./fonts/NotoSerif-BoldItalic.ttf) format('truetype');
}
:root {
    --symbol-fonts: "Arial Unicode", "Apple Symbols", "Symbol", "Symbola_hint";
    --body-family: "Noto Serif", serif, var(--symbol-fonts);
    --title-family: "Noto Sans", sans-serif, var(--symbol-fonts);
    --mono-family: "B612 Mono", monospace, var(--symbol-fonts);
}
