name: build-pr
on:
  pull_request_target:
    types: [assigned, opened, edited, synchronize, reopened]
    branches:
      - main
jobs:
  check_branch:
    runs-on: ubuntu-latest
    outputs:
      branch: ${{ steps.check_step.outputs.branch }}
      reponame: ${{ steps.check_step.outputs.reponame }}
      tag: ${{ steps.check_step.outputs.tag }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Get branch name, etc.
        id: check_step
        run: |
          raw=${{ github.repository }}
          reponame=${raw##*/}
          echo "reponame=$reponame" >> $GITHUB_OUTPUT
          raw=$(git branch -r --contains ${{ github.ref }})
          branch=${raw##*/}
          echo "branch=$branch" >> $GITHUB_OUTPUT
          tag=""
          if [ ${{ github.ref_type }} = "tag" ]; then
            tag=${{ github.ref_name }}
            echo "Running in $reponame on $branch for $tag"
          else
            echo "Running in $reponame on $branch"
          fi
          echo "tag=$tag" >> $GITHUB_OUTPUT

  build-pr:
    runs-on: ubuntu-latest
    needs: check_branch
    env:
      HAVE_ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN != '' }}
      CIWORKFLOW: yes
      CI_SHA1: ${{ github.sha }}
      CI_BUILD_NUM: ${{ github.run_number }}
      CI_PROJECT_USERNAME: ${{ github.repository_owner }}
      CI_PROJECT_REPONAME: ${{ needs.check_branch.outputs.reponame }}
      CI_BRANCH: ${{ needs.check_branch.outputs.branch }}
      CI_TAG: ${{ needs.check_branch.outputs.tag }}
      CI_PULL: ${{ github.event.number }}
    steps:
      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install epubcheck rsync libxml2-dev libxslt-dev

      # lxml needed by html5-parser needs libxml2-dev and libxslt-dev, apparently
      - name: Setup python dependencies
        run: |
          python3 -m pip install pygments==2.14.0 click cython
          python3 -m pip install saxonche
          python3 -m pip install --no-binary lxml html5-parser

      - name: Download and install SASS
        run: |
          curl -o /tmp/dart.tar.gz -L https://github.com/sass/dart-sass/releases/download/1.56.0/dart-sass-1.56.0-linux-x64.tar.gz
          cd /tmp && tar zxf dart.tar.gz && sudo mv dart-sass/sass /usr/local/bin

      - name: Checkout the branch
        uses: actions/checkout@v3

      - name: Setup SaxonEE
        if: ${{ env.HAVE_SAXON_EE == 'true' }}
        run: gpg --batch --yes --passphrase ${{ secrets.SAXON_PASSPHRASE }} -d tools/saxon.enc | tar zxf -

      - name: Build
        run: |
          ./gradlew -PrequireCompileSuccess=true dist

      - name: Cleanup SaxonEE
        if: ${{ env.HAVE_SAXON_EE == 'true' }}
        run: rm -rf lib
